<!DOCTYPE html>
<html>
    <head>
        <title>Bharaddurs blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Bharaddurs blog</a></h1>
        </header>

        <article>
            <time>published: 14.03.2022, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Test Text Test Text Test Text Test Text Test Text Test Text Test Text Test Text Test Text Test Text Test Text Test Text Test Text Test Text Test Text </p>
        </article>

        <article>
            <time>published: 14.03.2022, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Test Text Test Text Test Text Test Text Test Text Test Text Test Text Test Text Test Text Test Text </p>
        </article>
    </body>
</html>